{% extends 'base.html' %}
{% load static %}


{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!--card header-->
          <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Pergeseran Tanah</h6>
            
          <!--Breadcrumbs-->
          <ol class="breadcrumb">
              <li style="margin-left: 10px">
            data from <input type="text" id="firstdatepicker" name="firstdatepicker" value="2020-03-15">
            to <input type="text" id="lastdatepicker" name="lastdatepicker" value="2020-03-16">
            <input type="button" name="filter" id="filter" value="Filter" class="btn btn-info">
              </li>
          </ol>
      <!--End of breadcrumbs date picker-->

      <!--Kelembaban tanah Area Chart-->
      
      <div class="card-body">
          <div class="chart-area">
              <canvas id="displacementChart"></canvas>
          </div>
      </div> <!--end of area chart-->

          </div> <!--end of card header-->




        </div>
        <!--end of page content (container-fluid) -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Page level chart.js yang digunakan halaman ini-->
  <script src="{% static 'js/demo/displacement.js' %}"></script>
  <!-- <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> -->

  <!-- date picker js-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery.ui.datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<!--buat kalender-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/sunny/jquery-ui.min.css"></link>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"></link>
  


  {% endblock content %}
