{% extends 'base.html' %}

{% block content %}
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!--leaflet js after leaflet css-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Node 1</h1>
          </div>

          <!-- kode tampil map -->
          <div class="row">   <!--map area-->
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
            <!--card header-->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Lokasi Node</h6>
            </div>
  <!--card body-->
    <div class="card-body">
    <div class="chart-area">
      <p>
        latitude: <span id="lat"></span><br />
        longitude: <span id="lon"></span>
      </p>
      <style>
        #node1Map { height: 260px; }
      </style>
      <div id="node1Map"></div>
    <script>
      //making map and tiles
       const mymap = L.map('node1Map').setView([-7.7713794, 110.3753111], 3.5);
       const attribution =
          '&copy: <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

      const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      const tiles = L.tileLayer(tileUrl, { attribution });
      tiles.addTo(mymap);

       var latitude;
       var longitude;
       const api_url = '/api/map';
        
        async function getData(){
          const response = await fetch(api_url);
          const data = await response.json();
          data.forEach(function(item){
            latitude = item.gps_latitude;
            longitude = item.gps_longitude;
            console.log(latitude);
            console.log(longitude);
          });

          L.marker([latitude, longitude]).addTo(mymap);

          document.getElementById('lat').textContent = latitude;
          document.getElementById('lon').textContent = longitude;
        }
        
        getData();
    </script>

    </div> <!--div chart area map-->
    </div> <!--div class card body-->
</div> <!--div class card shadow-->
</div> <!--div class map area col-->

        </div>
        <!-- end of page content (container-fluid) -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; GMLEWS 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>





{% endblock content %}